.App {
  text-align: center;
  background-image: url(http://localhost:5000/static/background.png);  background-size: cover;
}

.App-page {
  box-sizing: border-box;
  height: 100vh;
  margin-top: -64px;
  padding-top: 64px;
}

